node_modules
.DS_Store
.thumbs.db
.idea
.ultra.cache.json
firebase-debug.log*
firebase-debug.*.log*
.firebase/
credentials

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/frontv1/
