.q-tooltip
  background-color: var(--q-primary-elevated)
  font-size: 12px
  max-width: 400px

//.q-select .q-field__native
//  white-space: nowrap
//  text-overflow: ellipsis
//  overflow-x: hidden

.q-select--ellipsis .q-field__native span
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.q-field--inherit-font-size
  font-size: inherit !important
