// app global css in Sass form


.ellipsis-improved
  display: -webkit-box
  -webkit-line-clamp: 1
  -webkit-box-orient: vertical
  overflow: hidden

.extra-purple
  color: $extra

.bg-extra-purple
  background-color: $extra
